# fly.toml app configuration file generated for charter-little-silence-2502 on 2026-03-01T08:51:07Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'charter-london'
primary_region = 'yyz'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[checks]
  [checks.health]
    port = 3000
    type = 'http'
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/auth/status'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
